@model MyTrashCollector.Models.Address

@{
    ViewBag.Title = "ConfirmDayChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Day Confirmation</h2>

<h3>You changed your new pick-up day to: @Model.Day.PickUpDay</h3>

<img src="http://www.missionlakevillas.com/wp-content/uploads/2016/07/cute-trash-can.jpeg" style="width: 95%">
