@model MyTrashCollector.Models.Address

@{
    ViewBag.Title = "ConfirmSuspend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation</h2>

<h3><br/>
    Start Of Vacation: @Model.Day.VacationStart
    <br/>
    End Of Vacation: @Model.Day.VacationEnd
</h3>

<img src="http://www.vomzi.com/wp-content/uploads/2016/02/32-goodbye-gif-266.gif" style="width: 100%">


